* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  user-zoom: none;
  touch-action: pan-x pan-y;
}
.body {
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(227, 228, 233);
}
.body .Pageheader {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 96%;
  margin: 2% 2% 0px 2%;
  border-radius: 10px;
  font-size: 12pt;
  color: rgb(22, 22, 22);

  background-color: rgb(255, 255, 255);
}
.body .header .headerText {
  position: relative;

  margin: auto 10px auto 10px;
}
/* ******************************** Info Header ************************************************ */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(130, 132, 141);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
.infoHeader {
  display: flex;
  justify-content: left;
  position: relative;

  right: 0px;
  width: 96%;
  height: 40px;
  margin: 0px 2% 0px 2%;

  overflow-y: hidden;
  overflow-x: scroll;

  font-size: 9pt;
  list-style: none;
  color: rgb(0, 0, 0);
}
.infoList {
  white-space: nowrap;
  display: flex;
  margin: auto 10px auto 0px;
  padding: 5px;
  border-radius: 5px;

  background-color: rgb(255, 255, 255);
}
.infoOutput {
  width: fit-content;
  display: flex;
  color: rgb(61, 146, 243);
}
.inputClientes {
  width: 30px;
  color: rgb(61, 146, 243);
  background-color: rgb(227, 228, 233);
  border: 0px;
  border-radius: 5px;
  text-align: center;
  padding: 0px 5px 0px 5px;
}
.inputTime {
  width: 40px;
  color: rgb(61, 146, 243);
  background-color: rgb(227, 228, 233);
  border: 0px;
  border-radius: 5px;
  text-align: center;
  padding: 0px 5px 0px 5px;
}

/* ******************************** Dashboard ************************************************ */
.dashboardHeader {
  position: relative;
  display: grid;
  text-align: center;

  grid-template-columns: 60px 1fr 1fr;
  align-items: center;
  height: 30px;
  width: 96%;
  margin: 0px 2% 0px 2%;
  font-size: 12pt;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0px 2px 3px rgb(177, 177, 177);
}
.dashboardHeader .headerText1 {
  font-size: 10pt;
}
.dashboardHeader .headerText2 {
  font-size: 10pt;
  border-left: 1px solid rgb(51, 51, 51);
}
.dashboardHeader .headerText3 {
  font-size: 10pt;
  border-right: 1px solid rgb(51, 51, 51);
}
.dashboard {
  height: 200%;

  width: 96%;
  margin: 0px 2% 0px 2%;

  padding-top: 5px;
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  grid-auto-rows: max-content;

  color: rgb(61, 146, 243);
  font-size: 9pt;
}
.defColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.columnTime {
  border-left: 1px solid rgb(170, 170, 170);
}
.columnConfig {
  border-left: 1px solid rgb(170, 170, 170);
}
.dashboard .icon {
  cursor: pointer;
  width: 15px;
  margin: auto 7px auto 7px;
  padding: 1px;

  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px rgb(126, 126, 126);
  border-radius: 5px;
}
.dashboard .icon:hover {
  filter: opacity(50%);
}

.terminal {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  bottom: 0px;
  background-color: black;
  color: white;
  width: 100%;
  height: 300px;
}
.terminalDEf {
  padding: 2px;
  font-size: 8pt;
  background-color: #202020;
  margin: 2px;
  border-radius: 10px 10px 0px 0px;
}
/* ******************************** Pop up Delete ************************************************ */

.popupDeleteAll {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.897);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 3px;
  width: 300px;
  height: 150px;
  box-shadow: 1px 1px 5px black;
}
.popupText {
  font-size: 16pt;
  font-weight: normal;
  margin-bottom: 20px;
  color: rgb(34, 34, 34);
}
.popupBtnBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.popupBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 25px;
  border-radius: 3px;
  font-weight: normal;
  color: rgb(61, 146, 243);
  border: 1px solid rgb(61, 146, 243);
}
.popupBtn:hover {
  background-color: rgb(61, 146, 243);
  color: rgba(255, 255, 255, 0.664);
}
/* ******************************** Pop up Stop ************************************************ */

.pop-stop-timer {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.897);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 3px;
  width: 300px;
  height: 150px;
  box-shadow: 1px 1px 5px black;
}
.pop-stop-text {
  font-size: 16pt;
  font-weight: normal;
  margin-bottom: 20px;
  color: rgb(34, 34, 34);
}
.pop-btn-stop-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.pop-stop-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 25px;
  border-radius: 3px;
  font-weight: normal;
  color: rgb(61, 146, 243);
  border: 1px solid rgb(61, 146, 243);
}
.pop-stop-btn:hover {
  background-color: rgb(61, 146, 243);
  color: rgba(255, 255, 255, 0.664);
}

/* ******************************** Timer Buttons container ************************************************ */
.timerContainer {
  background-color: white;
  padding: 2% !important;
  margin: 1%;
  position: fixed !important;
  bottom: 0px;
  z-index: 1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  justify-content: space-around;

  border-radius: 5px;
  width: 94%;
  height: fit-content;
  box-shadow: 0px -1px 3px rgb(177, 177, 177);
}
.timerContainer .default {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  width: 100%;
  height: 30px;

  cursor: pointer;
  color: rgb(61, 146, 243);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(61, 146, 243);
}
.timerContainer .default:hover {
  transition-duration: 300ms;
  background-color: rgb(61, 146, 243);
  color: rgb(255, 255, 255);
}
/* ******************************** Timer ************************************************ */
.timerStart {
  margin: 0px 2% 0px 2%;
  border-radius: 5px;

  background-color: rgb(69, 82, 67);
}
.timerStop {
  margin: 0px 2% 0px 2%;
  border-radius: 5px;
  background-color: rgb(80, 60, 60);
}
.deleteAll {
  margin: 0px 2% 0px 2%;
  border-radius: 5px;
  background-color: rgb(20, 20, 20);
}
.counter {
  margin: 0px 2% 0px 2%;
  border-radius: 5px;
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  width: 100px;
  height: 30px;
  padding-right: 10px;
  color: aliceblue;
  font-size: 12pt;
  background-color: rgb(50, 62, 85);
}
.counter .icon {
  filter: invert();
  width: 20px;
  margin: 0px 10px 0px 10px;
}

/* ---------- Make the codepen look nice ---------- */
@use postcss-preset-env;
@use postcss-nested;

@-webkit-keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.rotating-border {
  --border-radius: 1rem;
  --border-size: 0.5rem;
  --border-bg: conic-gradient(rgb(0, 132, 255), yellow, lime, aqua, blue, magenta, red);
  --padding: 1rem;

  position: relative;
  overflow: hidden;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
  display: inline-block;
}
.rotating-border::before {
  content: "";
  display: block;
  background: var(--border-bg);
  width: calc(100% * 1.41421356237);
  padding-bottom: calc(100% * 1.41421356237);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -2;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}
.rotating-border--reverse::before {
  animation-direction: reverse;
}
.rotating-border::after {
  content: "";
  position: absolute;
  top: var(--border-size);
  right: var(--border-size);
  bottom: var(--border-size);
  left: var(--border-size);
  background: rgb(255, 255, 255);
  z-index: -1;
  border-radius: calc(var(--border-radius) - var(--border-size));
}
/* ---------- End .rotating-border ---------- */

/* ---------- Begin customizing .rotating-border ---------- */
.rotating-border--google {
  --border-radius: 0.5rem;
  --border-size: 2px;
  --border-bg: conic-gradient(
    #ffffff 0turn 0.125turn,
    #ffffff 0.125turn 0.25turn,
    #ffffff 0.25turn 0.375turn,
    #40a0ee 0.375turn 0.5turn,
    #ffffff 0.5turn 0.625turn,
    #ffffff 0.625turn 0.75turn,
    #ffffff 0.75turn 0.875turn,
    #40a0ee 0.875turn 1turn
  );
}
/* ---------- End customizing .rotating-border ---------- */
